.band {
  background-color: rgb(231, 108, 26);
  width: 25%;
  margin-bottom: 10px;
  border-radius: 15px;
  height: 300px;
  padding: 10px;
  padding-left: 25px;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.band-img {
  width: 100px;
  height: 100px;
}
